@model ResourceBookingSystem.Models.Resource

@{
    ViewData["Title"] = "Resource Details";
}

<h1 class="mb-4 text-center">Resource Details</h1>

<div class="row justify-content-center">
    <h4>Resource</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>
        <dd class="col-sm-10">
            <span class="fw-bold @(Model.IsAvailable ? "text-success" : "text-dark")">
                @(Model.IsAvailable ? "Available" : "Not Available")
            </span>
        </dd>

    </dl>
</div>
<hr />

<div class="mb-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary me-2">
        <i class="bi bi-pencil-square"></i> Edit
    </a>
    <a asp-action="Index" class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i> Back to Resource List
    </a>
</div>


<h4>Upcoming Bookings</h4>
@{
    var upcomingBookings = Model.Bookings?
        .Where(b => b.EndTime > DateTime.Now)
        .OrderBy(b => b.StartTime)
        .ToList();
}

@if (upcomingBookings != null && upcomingBookings.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Booked By</th>
                <th>Purpose</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in upcomingBookings)
            {
                <tr>
                    <td>@booking.StartTime.ToString("g")</td>
                    <td>@booking.EndTime.ToString("g")</td>
                    <td>@booking.BookedBy</td>
                    <td>@booking.Purpose</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No upcoming bookings for this resource.</p>
}


<hr />
